body {
    --color1: #ff9e9e;
    --color2: #f68b8b;
    --color3: #fdc47d;
    --color4: #ffd0d0;
    --color5: #362d54;

    font-family: 'Open Sans Condensed', sans-serif;
    background-color: var(--color2);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: var(--color5);
}

#main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: auto;
    border-radius: 8px;
    margin: 20px;
    
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color5);
}